@import 'https://fonts.googleapis.com/css?family=Lato|Playfair+Display';

hr {
	width:60% !important;
	height:10px !important;
	color: black !important;
}
.fa:hover {@include iconos-hover;}
// .pt-5 {padding-top: 5%;}
// .pt-10 {padding-top: 10%;}
// .pb-5 {padding-bottom: 5%;}
// .pb-10 {padding-bottom: 10%;}
// .pd-0 {padding:0%;}
// .mt-10 {margin-top: 10%;}
// .mt-5 {margin-top:5%;}
// .mb-2 {margin-bottom: 2%;}