$plomo: #f0f0f1;
$plomo-letras: #848480;
$oscuro: black;
$blanco: #ffffff;
$padding-bg: 10% 0;
$weight-h: 800;
$color: #4a4a4a;
$pink: #3a0218;
$pink-two: rgba(29, 2, 21, 0.9);

$fade-in: fade-out($pink-two, .2);
$fade-out: green;