header { position: fixed; width: 100%; z-index: 9999999; }
.navbar-default { 
	background: transparent;
	margin-bottom: 0; 
	border: none;
	.navbar-nav>li>a{ color:$blanco; &:hover { color: #68042c;};
	&:focus{color:$blanco; border: 1px dashed white; } }
	.navbar-toggle { background: $fade-in; &:focus { background: rgba(0,0,0,0.2); } }
	
}
.navbar-default.nav-color-Two { background: $fade-in;; }
