@mixin fondo-fixed {
  // background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}
@mixin capa-color {
	background-color: rgba(29, 2, 21, 0.6);
	color: $blanco;
	padding: $padding-bg;
}
@mixin hoverstatus {
	background-color:  rgba(0,0,0,0.7);
}
@mixin border {
	border-top: 1px solid $plomo-letras;
}
@mixin iconos-hover {
	-moz-transform: scale(1.1) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	transform: scale(1.1) rotate(360deg);
}
@mixin lista-hover {
	background-color: $blanco;
	border: 1px solid black;
	-webkit-transition: height 1200ms linear;
	-moz-transition: height 1200ms linear;
	-ms-transition: height 1200ms linear;
	-o-transition: height 1200ms linear;
	transition: height 1200ms linear;
}
// @mixin prueba-hover {
// 	background-color: $blanco;
// 	border: 1px solid black;
// 
// }